@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,600;1,700&display=swap');
html{
  scroll-behavior: smooth;
}
body {
  padding: 0;
  background-color: rgba(0, 0, 0, 0.056);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
a {

  text-decoration: none;
}

.comp-info p a{
  color: white;
}
























.slide-menu{
  display: none;
}



.form-selecter{
  width: 31.9vw;
  padding: 0.9vw;
  border: none;
  margin-top: 1vw;
  border-radius: 3vw;
}
.contact-i{
  width: 30vw;
  padding: 0.9vw;
  border: none;
  margin-top: 1vw;
  border-radius: 3vw;
}
input:focus{
outline: none;
}
.contact-p{
  margin-top: 3vw;
  margin-left: 0.5vw;
}
.contact-head{
  color: rgba(5, 101, 0, 0.595);
}
.popInner form{
  margin: 3vw;
  margin-top: 0;
}.circ-div1{
  width: 40vw;
  height: 40vw;
  background-color: rgba(0, 122, 0, 0);
  position: absolute;
  border-radius: 50%;
  margin-left: 80vw;
  margin-top: -5vw;
  z-index: -1;
}
.circ-div{
  width: 70vw;
  height: 70vw;
  background-color: rgba(0, 54, 0, 0.074);
  position: absolute;
  border-radius: 50%;
  margin-left: 50vw;
  margin-top: 10vw;
  z-index: -1;
}
.the-logo{
  text-align: center;
  color: white;
  position: relative;
  z-index: 3;
  width: 80%;
  transform: translateY(-7vw);
  background-color: rgba(255, 255, 255, 0.437);
}
.cont-info1 img{
  width: 80%;
 margin-top: 10vw;

 

}
.contact-cont{
  display: flex;
  position: relative;
  overflow: hidden;
  background-color: #00000007;
  
}
.cont-box{
  background-color: rgba(0, 108, 7, 0);
  margin: 5vw;
  margin-left: 10%;
}
.form-sub{
  width: 31.9vw;
  padding: 1vw;
  border-radius: 40vw;
  margin-top: 2vw;
  border: 1px solid green;
  background-color: white;
  color: green;
}






.ser-pg-card h2{
  text-align: center;
  position: absolute;
  transform: translateY(-8vw);
  color: white;
  width: 100%;

}
.ser-side{
  display: flex;
  flex-wrap: wrap;
}
.ser-pg-card{
  width: 19vw;
  border-top-left-radius:50% 5%;
  border-top-right-radius:50% 5%;
  border-bottom-left-radius:50% 2%;
  border-bottom-right-radius:50% 2%;
  position: relative;
  padding-bottom: 1vw;
  overflow: hidden;
  border-bottom: 0.3vw solid green;
  margin: 0.8vw;
  background-color: white;
}
.ser-pg-img img{
  height: 14vw;
  filter: brightness(60%);
  margin-top: -3vw;
}
.topHeader{
  background-image:  linear-gradient(rgba(0, 77, 0, 0.518), rgba(0, 73, 0, 0.518)) , url(/c56a6b9e8667470ab48bb097b50d3cbb_nvlf.jpg);
  background-size: cover;
  height: 17vw;
  width: 100%;
}
.topHeader h1{
  color: white;
  margin: 0;
  margin-left: 10%;
  font-size: 4vw;
  padding-top: 7vw;
  font-weight: 800;

}.topHeader p{
  color: rgba(255, 255, 255, 0.849);
  margin: 1vw;
  width: 50%;
  font-weight: 600;
  margin-left: 10%;
  
}
.info-side h3{
  color: green;
}
.row h3{
  font-size: 0.8vw;
}
.row p a{
  color: black;
  text-decoration: none;
}
.row p{
  font-size: 0.8vw;
  text-align: right;
}
.row{
  display: flex;
  width: 100%;
  justify-content: space-between;

}
.ser-pg-img{
  position: relative;
  overflow: hidden;
}
.ser-pg-cont{
  display: flex;
  margin-top: 5vw;
  width: 85%;
  margin-bottom: 4vw;
  margin-left: 10%;
}
.info-side{
  width: 40%;
}
.info-stuff{
  margin: 1.6vw;
  font-size: 0.8vw;
  line-height: 1.4vw;
}
.info-stuff p{
  line-height: 1.2vw;
  font-size: 0.8vw;

}
.info-stuff ul li{
  color: rgba(0, 0, 0, 0.797);
}











































































.mob-menu{
  display: none;
}
.line{
  display: none;
}
.phone-nav{
  display: none;
}
.contback-img1 h1{
   color: white;
   margin: 0;
   margin-left: 12%;
   font-size: 4vw;
   padding-top: 7vw;
   font-weight: 800;

}
.contback-img h1{
   color: white;
   margin: 0;
   margin-left: 12%;
   font-size: 4vw;
   padding-top: 7vw;
   font-weight: 800;

}
.contback-img{
  background-image:  linear-gradient(rgba(0, 77, 0, 0.518), rgba(0, 73, 0, 0.518)) , url(/US_Johannesburg_ZA_Header.jpg);
  background-position: bottom;
  height: 17vw;
  background-size: cover;
  width: 100%;
}
.contback-img1{
  background-image:  linear-gradient(rgba(0, 77, 0, 0.518), rgba(0, 73, 0, 0.518)) , url(/solid-newhomebuild-39.jpg);
  height: 17vw;
  background-size: cover;
  width: 100%;
}
.qandab-cont{
  width: 80%;
  margin-left: 10%;
  margin-top: 7vw;
  margin-bottom: 5vw;
  display: flex;
  justify-content: center;
}
.aboutUs-cont{
  width: 75%;
  margin: 4vw;
}
.aboutUs-cont p{
  line-height: 2vw;
  
}
.aboutUs-cont h6{
  color: green;
  font-size: 1vw;
  margin: 0;
}
.quote{
  width: 70%;
  background-color: rgb(255, 255, 255);
  border-bottom: 0.5vw solid green;
  transform: skew(15deg);
  margin: 3vw;
}

.quote h3{
  transform: skew(345deg);
  padding-top: 1vw;
  color: rgba(0, 0, 0, 0.755);
  padding-left: 1.7vw;
  margin: 0;
}
.quote p{
  transform: skew(345deg);
  font-size: 0.9vw; 
  color: rgba(0, 0, 0, 0.83);
  margin: 2vw;
  margin-top: 0.8vw;
  font-weight: 400;
}
.quote1{
  margin-left: 10%;
}

.quote3{
  margin-left: 20%;
}
.locHeader{
  width: 30%;
  margin-left: 35%;
  text-align: center;
  color: white;
}
.lcon-1{
  padding: 1vw;
  border-radius: 50%;
  background-color: green;
  color: rgb(255, 255, 255);
  font-size: 2vw;
}
.location-cont{
  padding-bottom: 5vw;
  background-image: linear-gradient(rgba(0, 0, 0, 0.815), rgba(0, 0, 0, 0.815)), url('https://calldoctorfixit.com/storage/2018/07/plumbing.jpg');
  padding-top: 3vw;

}
.loc-icon{
  text-align: center;
}
.list-2{
  margin-left: 5vw;
}
.list-3{
  margin-left: 2vw;
}
.line{
  width: 20%;
  margin-left: 40%;
  height: 0.2vw;
  background-color: white;
  border-radius: 3vw;
}.loc-1 ul{
  height: 14vw;
}
.loc-1 ul li{
  width: 20vw;
  margin-left: 3vw;
  font-size: 1vw;
  line-height: 2vw;
}
.loc-1 h2{
   text-align: center;
   width: 100%;
}
.loc-1{
  width: 30vw;
  color: white;
}
.flex-location{
  display: flex;
  width: 80%;
  justify-content: center;
  margin-left: 10%;
  margin-top: 5vw;
}
.icon-cont{
  width: 100%;
}
.card-header{
  position: relative;
  z-index: 5;
  color: rgba(255, 255, 255, 0.897);
  text-align: center;
  padding-top: 5vw;
  
}
.card-header{
  opacity: 0;
}
.service-btn a{
color: black;
}
.service-btn{
  width: 100%;
  border: none;
  transform: translateY(2vw);
  color: rgb(0, 68, 0);
  padding: 1vw;
  background-color: rgb(255, 255, 255);
  border-bottom-left-radius: 3vw 15%;
  border-bottom-right-radius: 3vw 15%;
  border-bottom: 5px solid rgb(46, 154, 46);transition: 0.1s;
}
.service-btn{
  transform: translateY(0vw);transition: 0.1s;
}
.hover-c-action h1{
   opacity: 1;
   font-size: 1.6vw;
   text-align: center;
}
.hover-c-action ul li{
   font-size: 0.8vw;
   width: 80%;
   margin-left: 8%;
   line-height: 1.2vw;
   
}
.hover-c-action ul{
   opacity: 0;
  transition:opacity 0.3s;
 
  transform: translateY(-700vw);
}
.hover-c-action ul{
    opacity: 1;
   transform: translateY(0vw);
   transition-delay: 0.37s;
   
}
.hover-c-action{
  display: block;
  height: 0vw;
  background-color: white;
  padding-top: 2vw;
  margin-top: -4vw;
  transition: 0.3s;

}
.hover-c-action{
  display: block;
  height: 17vw;
  transition: 0.3s;
  transition-delay: 0.2s;
}
.ser-icon{
  font-size: 2vw;
  width: 10%;
  padding: 1vw;
  padding-bottom: 0.8vw;
  transform: translateY(2.7vw);
  margin-left: 40%;
  position:relative;
  z-index: 4;
  border-radius: 50%;
  transition: 0.3s;
  color: white;
  background-color: rgb(55, 132, 55);
}
.ser-card{
  width: 40vw;
  margin: 0.5vw;
}
.ser-icon{
  font-size: 1.5vw;
  transition: 0.3s;
  width: 8%;
  margin-left: 42%;
}
.img-cont{
  height: 13vw;
  position: relative;
  overflow: hidden;transition: 0.3s;
  border-top-left-radius: 50% 15%;
  border-top-right-radius: 50% 15%;

}
.img-cont img{
 filter: brightness(60%);
 transition: 0.3s;
  border-top-left-radius: 50% 15%;
  border-top-right-radius: 50% 15%;
}
.img-cont img{
  transform: translateY(-4vw);
  transition: 0.3s;
  filter: brightness(100%);
}
.img-cont{
  height: 13vw;transition: 0.3s;
}
.service-container{
  display: flex;
  width: 80%;
  margin-left: 10%;
  margin-top: 1vw;
}
.ser-header{
  text-align: center;
  margin-top: 4vw;
  color: rgba(0, 0, 0, 0.577);
  
}

.sub-header{
  font-size: 2vw;
  font-stretch:condensed;
  font-weight: 600;
  color: rgba(0, 42, 0, 0.762);
}

.nav-CONTD{
  margin-top: 4vw;
}
.nav-b-CONTD a{
  color: rgb(255, 255, 255);
  font-size: 1.4vw;
  padding: 1vw;padding-top:1vw;
  padding-bottom: 0.6vw;
  height: 3vw;
  border-radius: 50%;
  /* background-color: rgb(255, 255, 255); */
  background-color: rgb(0, 68, 0);

}
.nav-b-CONTD{
  list-style: none;
  color: black;
  position: absolute;
  margin-top: 11vw;
  z-index: 5;
  width: 175%;
  text-align: center;
}
.nav-b-cont{
  display: block;
  position: absolute;
  margin-top: 13vw;
  margin-left: 2vw;
  border-radius: 50%;
 
}
.nav-b{
  position: relative;
  z-index: 6;
  list-style: none;
  background-color: rgb(38, 38, 38);
  padding: 0.3vw;
  display: block; transition: 0.3s;
  margin-top: 1.7vw;
  border-radius: 50%;width: 0.2vw; height: 0.2vw;
}
.nav-b:hover{
  width: 5vw; 
  transition: 0.3s;
  border-radius: 10vw; height: 1vw;
}
.nav-b a{
  opacity: 0;width: 5vw; display: block;
  font-size: 0.8vw;

  text-decoration: none;
  text-align: right;
  color: white;

}
.nav-b:hover.nav-b a{
   opacity: 1;width: 5vw; display: block;
  font-size: 0.8vw;
  text-decoration: none;
  transition: 0.3s;
  transition-delay: 0.2s;
  text-align: right;
  color: white;
}
.fontHeader{
  font-family: 'Montserrat', sans-serif;
}
.font{
  font-family: 'Comfortaa', cursive;
}
.front-button a{
 color: white;
}
.front-button{
  padding: 12px;
  width: 14vw;
  background-color: rgba(0, 0, 0, 0.682);
  color: white;
  border: none;
  border-radius: 30vw;
  margin-top: 1vw;
  font-size: 0.8vw;
  font-family: 'Comfortaa', cursive;
}
.mainHeader{
  margin-left: 15%;
  width: 25%;
  font-size: 1.2vw;
}
.mainHeader p{
    color: rgba(255, 255, 255, 0.562);
    line-height: 2vw;
}
.mainHeader h1{
  font-weight: 700;
  margin-top: 6vw;
  font-size: 2.5vw;
  color: rgba(255, 255, 255, 0.879);

}

.underline{
  background-color: rgba(0, 128, 0, 0.332);
  border-bottom: 0.3vw solid green;
}
.logo{
  font-family: 'Comfortaa', cursive;
  font-size: 2vw;
  color: black;
 padding: 1vw;
  font-weight: 500;
  
}
.drop{
  color:green;
  font-size: 1.6vw;
  transform: translateY(0.2vw);
 
}
.backgreen2{
  width: 100%;
  background-color: rgba(78, 139, 52, 0.433);
  border-bottom-left-radius: 50% 13%;
  border-bottom-right-radius: 50% 13%;
  height: 40vw;
  margin-top: -39vw;
}
.backgreen1{
  width: 100%;
  background-color: #adc2a5ff;
  border-bottom-left-radius: 50% 13%;
  border-bottom-right-radius: 50% 13%;
  height: 40vw;
  margin-top: -39vw;
}
.mainBackGround{
  width: 100%;
  background-image: linear-gradient(to right, rgba(51, 102, 30, 0.848), rgba(51, 102, 30, 0.848), rgba(73, 138, 47, 0.848));
  overflow: hidden;
  background-size: 90vw;
  position: relative;
  z-index: 2;
  height: 42vw;
  border-bottom-left-radius: 50% 13%;
  border-bottom-right-radius: 50% 13%;
}
.hover-caction{
  background-color: white;
  padding: 1vw;
  padding-top: 8vw;
  border-bottom-left-radius: 50% 5%;
  border-bottom-right-radius: 50% 5%;
  margin-top: -10vw;
  height: 26vw;
  border-bottom:solid 0.5vw green ;
}
.hover-caction h1{
  opacity: 1;
  font-size: 1.4vw;
  height: 3vw;
  text-align: center;
}
.hover-caction p{
  text-align: center;
  font-size: 1vw;
}
.hover-caction ul li{
  font-size: 0.9vw;
  width: 80%;
  color: rgba(0, 0, 0, 0.612);
  margin-left: 8%;
  line-height: 1.3vw;
 
}
.thecard{
  width: 20vw;
  margin-right: 1vw;
  
}
.serv-card{
  width: 100%;
  margin: 0.5vw;
}
.background-img{
  position: absolute;
  opacity: .8;
  transform: translateY(-10vw);
  width: 75%;
  height:50vw;
  margin-top: 3vw;
  margin-left: 48%;
  box-shadow: rgb(0, 68, 0) 20px 20px 0px 30px;
  border-top-left-radius: 40% 50%;
  border-bottom-left-radius: 40% 50%;
}
.o-hidden{
  position: relative;
}


.white-cont{
  background-color: rgb(255, 255, 255);
  position: relative;
  z-index: 9;
}

.white-cont nav{
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin-left: 10%;
}
.ul-list{
  display: flex;
  list-style: none;
  margin: 0;
}

.ul-list li{
 transition: 0.3s;
 padding-top: 5%;
}
.ul-list li a{
  height: 70%;
  color: black;
  padding: 1vw;
  transform: translateY(11vw);
  z-index: 3;
  font-size: 1vw;
  text-decoration: none;
}
.ul-list li:hover{
  transition: 0.3s;
  background-color: rgba(0, 128, 0, 0.332);
  border-bottom: 0.3vw solid green;
}
.carousel-indicators{
  position: absolute;
  z-index: 6;
  right: 17vw;
  transform: translateY(36vw);
}
.carousel-indicators button{
  margin-right: 1vw;
  height: 1vw;
  width: 1vw;
  background-color: rgba(255, 255, 255, 0.464);
  border-radius: 50%;
  border: none;
}
.carousel-indicators button.active{
  background-color: black;
}
.visually-hidden{
  display: none;
}
.active.carousel-item{
opacity: 1;
  transition: 0.3s;
}
.carousel-item{
  opacity: 0;
  transition: 0.3s;
}
.call-top{
  font-size: 0.7vw;
  padding: 1vw;
  margin: 0;
  background-color: rgb(5, 46, 0);
  color: white;
  text-align: right;
  padding-right: 3vw;
}
.call-top a{
  text-decoration: none;color: rgba(255, 255, 255, 0.73);
}
.header{
  text-align: center;
  margin-top: 6vw;
  width: 50%;
  margin-left: 25%;
}
.header p{
  color: rgba(0, 0, 0, 0.538);
  margin-top: 2vw;
}
.lie-fh{
  width: 20%;
  margin-left: 40%;
  border-radius: 3vw;
  height: 2px;
  background-color: black;
}
.big-cir{
  position: absolute;
  width: 60vw; margin-left: 50%;
  height: 60vw;
  transform: translateY(1vw);
  z-index: -1;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.042);
}
.contback-img p{
 display: none;
}
.full-qandab-cont{
  position: relative;
  overflow: hidden;
}
.footer-container{
  display: flex;
  color: white;
  justify-content: center;
  width: 80%;
  padding-top: 2vw; padding-bottom: 2vw;
  margin-left: 10%;
}
.color-lo{
  color: white;
}
.footer{
  background-color: black;
}
.log-side{
  width: 29vw;
}
.log-side h2{
margin: 1vw;
font-weight: 400;
font-size: 1.3vw;
width: 20vw;
}
.comp-info{
  width: 29vw;

}
.comp-info h5{
  margin: 0;
  margin-top: 1.7vw;
}
.comp-info p{
  font-size: 0.8vw;
}
.foot-list{
 width: 10vw;
 
}
.foot-list li a{
 color: white;
 text-decoration: none;
}
.foot-list li{
 list-style: none;
 margin-top: 1vw;
}
.cont-Us-banner{
  background-color: rgb(25, 116, 0);
  position: relative;
  z-index: 9;
}
.cont-Us-banner p{
  margin: 0;
  text-align: center;
  font-size: 1.6vw;
  color: rgba(255, 255, 255, 0.758);
  padding: 4vw;
  font-weight: 600;
}.cont-Us-banner a{
  color: black;
  font-size: 1.7vw;
  font-weight: 700;
  text-decoration: none;
}

@media screen and (max-width: 850px){

  .carousel-indicators button {
    margin-right: 1vw;
    height: 2vw;
    width: 2vw;
    background-color: rgba(255, 255, 255, 0.464);
    border-radius: 4vw;
    border: none;
}
.thecard{
  width: initial;
  margin-top: 10vw;
}
.carousel-indicators{
    position: absolute;
    display:flex;
    z-index: 6;
    width: 100%;
    justify-content: center;
    left: 1vw;
    transform: translateY(123vw);
}
  .background-img {
    position: absolute;
    opacity: .8;
    transform: translateY(-10vw);
    filter: brightness(30%);
    width: 200%;
   margin-left: -20%;
    height: 170vw;
    margin-top: 3vw;
    margin-left: 0%;
    box-shadow: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.drop {
  color: green;
  font-size: 3.5vw;
  transform: translateY(0.2vw);
}
.header h1{
  font-size: 6vw;
}
.header p{
  font-size: 4vw;
}
.header{
  width: 80%;
  margin-left: 10%;
  margin-top: 13vw;
}
.logo{
  margin: 2.7vw;
  font-size: 5vw;
}
.theMenu{
  font-size: 9vw;
  margin: 2vw;
}
.phone-nav{
  display: flex;
  justify-content: space-between;
}
.call-top{
  display: none;
}
.white-cont{
  display: none;
}
.mainHeader p {
  color: rgba(255, 255, 255, 0.562);
  line-height: 6.7vw;
  font-size: 5vw;
}
.quote {
  width: 80%;
  border-bottom: 1vw solid green;
}
.quote h3 {
  
  padding-top: 3vw;
 
  padding-left: 3vw;
  margin: 0;
}
.quote-cont{
  margin-top: 20vw;
}
.quote p {
 
  font-size: 3vw;
  
  margin: 5vw;
  margin-top: 0.8vw;
  
}
.loc-1 ul li {
  width:100%;
  margin-left: 3vw;
  font-size: 4vw;
  line-height: 5.8vw;
}
.mainHeader h1 {
  font-size: 8vw;
  color: white;
  margin-top: 10vw;
 
}
.flex-location {
  display: block;
  width: 80%;
  justify-content: center;
  margin-left: 10%;
  margin-top: 5vw;
}
.lcon-1 {
  padding: 1vw;
  border-radius: 50%;
  background-color: green;
  color: rgb(255, 255, 255);
  font-size: 7vw;
}


.loc-1 {
  width: 100%;
  color: white;
  height: 70vw;
  margin-top: 7vw;
}
.line {
 display: none;
}
.location-cont {
  padding-bottom: 5vw;
  background-image: linear-gradient(rgba(0, 0, 0, 0.767), rgba(0, 0, 0, 0.767)), url(https://calldoctorfixit.com/storage/2018/07/plumbing.jpg);
  padding-top: 3vw;
  background-size: cover; 
  background-position: center;
}
.full-qandab-cont{
  margin-bottom: 8vw;
}
.locHeader{
   font-size: 6vw;
   width: 80%;
   margin-top: 10vw;
    margin-left: 10%;
    text-align: center;
    color: white;
}
.front-button {
  padding: 3vw;
  width: 50vw;
  background-color: rgba(0, 0, 0, 0.682);
  color: white;
  border: none;
  border-radius: 30vw;
  margin-top: 1vw;
  font-size: 3.5vw;
  font-family: 'Comfortaa', cursive;
}
.mainHeader {
  margin-left: 15%;
  width: 80%;
  font-size: 6vw;
  position: relative;
  z-index: 10;
}
.nav-b-CONTD {
 display: none;
}
.nav-b-cont{
  display: none;
}

.mainBackGround {
  width: 100%;
  background-image: linear-gradient(to right, rgb(67, 126, 42), rgb(68, 114, 48), rgb(48, 106, 23));
  overflow: hidden;
  position: relative;
  z-index: 2;
  height: 140vw;
  
  border-bottom-left-radius: 50% 13%;
  border-bottom-right-radius: 50% 13%;
}
.service-container{
  flex-wrap: wrap;
  justify-content: center;
}
.ser-card {
  width: 100%;
  margin: 0.5vw;
}
.ser-icon {
  font-size: 6vw;
  padding: 2vw;
  width: auto;
  margin-left: 43%;
  transform: translateY(7vw);
}
.img-cont{
  height: 40vw;
}
.hover-c-action{
  padding: 5vw;
}
.hover-c-action p{
  text-align: center;
  font-size: 4vw;
}
.hover-c-action h1 {
  opacity: 1;
  font-size: 5vw;
  text-align: center;
}
.hover-c-action ul li {
  font-size: 3.4vw;
  width: 80%;
  margin-left: 8%;
  line-height: 4.6vw;
}
.qandab-cont {
  display: block;
  margin-top: 18vw;
  justify-content: center;
}
.aboutUs-cont p {
  line-height: 5.2vw;
  color: rgba(0, 0, 0, 0.707);
}.aboutUs-cont h6 {
  color: green;
  font-size: 4vw;
  margin: 0;
} h1 {
 font-size: 6vw;
}
.aboutUs-cont{
  width: 100%;
  margin: 4vw;
}
.loc-1 h2 {
  text-align: center;
  width: 100%;
  font-size: 5vw;
}
.service-btn {
  transform: translateY(-1vw);
  transition: 0.1s;
  padding-bottom: 4vw;
  font-weight: 800;
  font-size: 3.5vw;
  color: green;
}
.footer-container {
 display: none;
}
.cont-Us-banner p {
  margin: 0;
  text-align: center;
  font-size: 5vw;
  color: rgba(255, 255, 255, 0.758);
  padding: 4vw;
  font-weight: 600;
}

.cont-Us-banner a {
  font-size: 5vw;
}
.ser-side {
  display: block;
}
.ser-pg-card {
  width: 100%;
  
}
.ser-pg-cont {
  display:block;
  margin-top: 5vw;
  width: 80%;
  margin-bottom: 4vw;
  margin-left: 10%;
}
.hover-caction{
  background-color: white;
  padding: 4.5vw;
  height: auto;
  padding-top: 13vw;
  border-bottom-left-radius: 50% 5%;
  border-bottom-right-radius: 50% 5%;
  margin-top: -16vw;
  border-bottom:solid 0.5vw green ;
}
.hover-caction h1{
  opacity: 1;
  font-size: 5vw;
  height: auto;
  color: rgba(0, 0, 0, 0.588);
  text-align: center;
}
.hover-caction p{
  text-align: center;
  font-size: 4vw;
}
.hover-caction ul li{
  font-size: 3.7vw;
  width: 80%;
  color: rgba(0, 0, 0, 0.612);
  margin-left: 8%;
  line-height: 5vw;
}
.ser-card {
    width: 100%;
    margin: 0.5vw;
    margin-top: 8vw;
}
.hover-c-action {
  height: auto;
  
}

.topHeader {
   background-size: 203vw;
    height: 55vw;
    background-position: center;
   
}
.topHeader p {
  color: rgba(255, 255, 255, 0.849);
  margin: 1vw;
  width: 80%;
  font-weight: 600;
  margin-left: 10%; font-size: 4.5vw;
}
.topHeader h1 {
  color: white;
  margin: 0;
  margin-left: 10%;
  font-size: 7vw;
  padding-top: 7vw;
  font-weight: 800;
}
.info-side {
  width: 100%;
  margin-bottom: 18vw;
  font-size: 4vw;
  margin-top: 15vw;
}
.row h3{
  font-size: 4vw;
}
.row p{
  font-size: 3.5vw;
  transform: translateY(1.4vw);
}
.contact-cont {
  display: block;
  position: relative;
  overflow: hidden;
  background-color: #00000007;
}
.contact-p {
  font-size: 4vw;
}
.contact-i{
  width: 96%;
  padding: 2vw;
  margin-top: 3vw;
 
}
.cont-box {
  background-color: rgba(0, 108, 7, 0);
 width: 80%;

  
}
.underline {
  background-color: rgba(0, 128, 0, 0);
  border-bottom: 0svw solid green;
}
.left-icon{
  color: rgb(0, 0, 0);
  font-size: 8vw;
  width: 100%;
  text-align: right;
  
}
.locations-me select, .service-me select{
  width: 100%;
  padding: 2vw;
}
.popInner form {
    margin: 0vw;
    margin-top: 0;
}
.this-icon{
  margin: 4vw;
}
.slide-menu *{
  padding: 0;
}
.slide-menu ul{
  margin-top: 5vw;

}
.slide-menu ul li{
  margin-top: 8vw;
  text-align: center;
}
.slide-menu ul li a{
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-size: 6vw;

}
.slide-menu{
  position: absolute;
  z-index: 99;
  transition: 0.3s;
  width: 100%;
  transform: translateX(-100%);
  background-color: rgba(255, 255, 255, 0.771);
  height: 100%;

}.onmenu{
  transform: translateX(0%);
  transition: 0.3s;
}
.slide-menu{
  display: block;
}
.form-sub {
  width: 100%;
  padding: 2vw;
  border-radius: 3vw;
  margin-top: 4vw;
  border: 1px solid green;
  background-color: white;
  color: green;
}
.cont-info1 img {
  width: 80%;
  margin-top: 10vw;
  margin-left: 10%;
}
.the-logo {
  text-align: center;
  color: white;
  position: relative;
  z-index: 3;
  width: 80%;
  margin-left: 10%;
  transform: translateY(-7vw);
  background-color: rgba(255, 255, 255, 0.437);
}
.contback-img {
  background-image: linear-gradient(rgba(0, 77, 0, 0.518), rgba(0, 73, 0, 0.518)) , url(/US_Johannesburg_ZA_Header.jpg);
  background-position: bottom;
  height: 55vw;
  background-size: cover;
  width: 100%;
}
.contback-img p{
  color: rgba(255, 255, 255, 0.849);
    margin: 1vw;
    display: block;
    width: 80%;
    font-weight: 600;
    margin-left: 10%;
    font-size: 4.5vw;
}
.contback-img h1{
  color: white;
    margin: 0;
    margin-left: 10%;
    font-size: 7vw;
    padding-top: 17vw;
    font-weight: 800;
}
.contact-input p, .contact-input h1{
  display: none;
}


}